/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Fustat:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+VN+Guides&family=Roboto+Slab:wght@100..900&family=Sora:wght@100..800&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap'); */

@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
}


html {
  scroll-behavior: smooth;
}


@layer utilities {
  .font-bricolage {
    font-family: var(--font-bricolage);
  }
  .font-outfit{
      font-family: var(--font-outfit);
  }
}

body {
  font-family: var(--font-sans);

}



.hero {
  @apply bg-gradient-to-br from-gray-900 to-slate-800 text-white;

}

/* Dots style  */
.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}


/* Global Animations */

/* Ping Large */
@keyframes ping-large {
  75%, 100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Move Left */
@keyframes move-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Move Right: content moves left to right (container moves right) */
@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-scrollRight {
  animation: scrollRight 30s linear infinite;
}

/* Move Left: content moves right to left (container moves left) */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 30s linear infinite;
}





/* Animation Utility Classes */
.ping-large {
  animation: ping-large 1s ease-in-out infinite;
}


